h2 {
    font-family:"Cambo", serif;
    
}

.navbar {
    background-color:black;
    font-family:"Poppins", sans serif;
    color: #a82715;
}

.navbar-text {
    color: white;
}

body {
    background-color: #a82715;
}

#mainName {
    color:#feeca8;
    font-size:50px;
    padding: 10px;

}