#pageTitle {
    font-family:"Cambo", serif;
    color:#feeca8;
    font-size: 5vw;
}

.navbar {
    background-color:black;
    font-family:"Poppins", sans serif;
    color: #a82715;
}

.navbar-text {
    color: white;
}

body {
    background-color: #a82715;
}

#mainName {
    font-family:"Cambo", serif;
    color:#feeca8;
    font-size: 8vw;
    padding: 10px;

}

.card-header {
    background-color: #fff1f0;
}